* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: green;
}

.header {
  margin-left: 50px;
  margin-bottom: 40px;
}

.title {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "roboto";
  font-size: 80px;
  text-align: center;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  #series-name{
    width: 250px;
    padding: 2px;
    font-family: "roboto";
    font-size: 18px;
    font-weight: bold;
    &:focus{
      border-color: black;
      background: white;
    }
  }
  .search-button{
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    width: 70px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 25%;
    &:focus{
      border: solid 2px black;
      color: white;
      background: black;
    }
  }
  
}
.main-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.favourite-series {
  .deleteAllButton{
    margin-bottom: 30px;
    margin-right: 20px;
    padding: 10px;
    width: 78px;
    border-radius: 70%;
    border-style: solid;
    border-color: black;
    background-color: red;
    align-self: flex-end;
    &.hidden{
      display: none;
    }
  }
  padding-top: 50px;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  background: yellow;
 
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .subtitle {
    padding-bottom: 30px;
    font-family: "roboto";
    background: yellow;
    font-size: 26px;
  }
  .container{
    background: yellow;
  }
  img {
    width: 120px;
    padding-bottom: 20px;
    background: yellow;
  }
  .erase-button {
    margin-left: 20px;
    border: solid 2px black;
    padding: 2px;
    font-family: "roboto";
    font-size: 18px;
  }
  .main-title {
    padding-left: 10px;
    font-family: "roboto";
    font-weight: bold;
    background: yellow;
  }
}
.consulted-series {
  background: rgb(11, 102, 35);
  padding-top: 50px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.consulted-list{
  background: rgb(11, 102, 35);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-item1{
  background: rgb(11, 102, 35);
  margin-right: 40px;
  margin-left: 30px;
  margin-top: 10px;
}
.main-title1 {
  margin-bottom: 20px;
  font-family: "roboto";
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.red {
  background:red;
  border-radius: 7%;
  padding-bottom: 15px;
}

