* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

.header {
    margin-left: 50px;
    
}

.title {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-content-container {
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.favourite-series {
padding-top: 50px;    
width: 30%;
height: 100vh;
display: flex;
flex-direction: column;
padding-left: 50px;

}
.consulted-series {
padding-top: 50px;
width: 70%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;

}
.main-title{
margin-top: 20px;
margin-bottom: 20px;

}
.red{
    background: red;
}